html, body {

height: 100%;
width:100%;
background-color: #FBFBFB;

}

#bodyContainer{
	width:1001px;
	height:409px;
	background-color:#FBFBFB;
	margin-left: auto ;
	margin-right: auto ;
}
#canopyLogoP {
	margin-left:0px;
	width:0px;
	height:0px;
	margin-top:0px;
}
#canopyLogo {
	margin-left:20px;
	width:175px;
	height:80px;
	margin-top:-36px;
}
#headingDiv {
	background-color:#F2F2F6;
	height:70px;
	margin-top:0px;
	width:100%;
}
.subHCalcDiv{
	height:30px;
	background-color:#CE85E6;
	margin-top:-22px;
	border-top:2px solid #A56AB8;
	border-bottom: 1px solid #D6A8E5;
	width:100%;
}
.subheadingCalc{
	font-size:20px;
	font-family:arial;
	font-weight: bold;
	margin-top:3.6px;
	margin-left:27px;
	color:white;
}
#blueprintSecDiv{
	width:313px;
	border-top:9px solid #FDFDFD;
	border-left:11px solid #FDFDFD;
	border-bottom:11px solid #FDFDFD;
	border-right:5.4px solid #FDFDFD;
	background-color:#e1f2fa;
	height:387px;
	float:left;
	border-radius:15px;
}
.innerDivs{
	background-color:#5dbae4;
	margin:auto;
	height:92.5%;
	width:90%;
	border-radius:3px;
}

.blueprintH2{
	margin-top:19px;
	text-align:center;
	font-family:arial;
	font-weight: bold;
	color:white;
	font-size:20px;
}
#Blueprints{
	display:block;
	width:183px;
	margin:auto;
	color:grey;
	margin-top:3.6px;
} 
form  legend#bp{
margin-top:210px;
}
#plusButton{
display:block;
margin: auto;
margin-top:7.2px;
width:147px;
height:37px;
font-size:14px; 
}
.additionalDiv{
	border-radius:15px;
	width:313px;
	border-top:9px solid #FDFDFD;
	border-left:5.4px solid #FDFDFD;
	border-bottom:11px solid #FDFDFD;
	border-right:5.4px solid #FDFDFD;
	background-color:#e1f2fa;
	height:387px;
	float:left;
}
.inputBoxProcessor{
	width:45px;
	color:grey;
	 font-size:14px;
}
#inputBoxProcessorOne{
 font-size:14px;
	margin-left:59.5px;
}
#divInput{
color:white;
 font-size:14px;
}

#divInputCB{
	margin-left:59.5px;
	font-size:12px;
	color:white;
}
form  legend#ad{
margin-top:-2px;
}
#additionalButtonAdd{
	display:block;
margin:auto;
margin-top:7.2px;
width:147px;
height:37px;
font-size:14px;
}

#divFinalThird{
	border-radius:15px;
	border-top:9px solid #FDFDFD;
	border-left:5.4px solid #FDFDFD;
	border-bottom:11px solid #FDFDFD;
	border-right:11px solid #FDFDFD;
	background-color:#e1f2fa;
	height:387px;
	width:313px;
	float:left;
}


 div.scrollableContainer { 
        height: 220px; 
        overflow: auto;  
        width: 100%; 
        background: #5dbae4;     
}

#tableFull{
	overflow:auto; 
	width: 100%;
	height: 110px;
	margin-top: -6.3px;
	color:white;
	border: 11px solid #5dbae4;
	border-radius:3px;
}
#theadcol{
background-color:#4182A0;
color:white;
}
#tableRow{
background-color:#4C96B8;
}
#totalCostDivFinal{
overflow:auto; 
width: 80%;
height:22px;
background-color: #54A7CD;
margin:auto;
border:11px solid #5dbae4;
border-radius:20px;
text-align:center;
color:white;	
}
.totalCostDivFinal{
overflow:auto; 
width: 80%;
height:22px;
background-color: #5dbae4;
margin:auto;
border:12px solid #5dbae4;
border-radius:5px;
}
form legend#fd{
margin-top:-13px;
}
#totalCostButton{
display:block;
margin:auto;
margin-top:7.2px;
width:147px;
height:37px;
font-size:14px;

}
table.tableSection {
        display: table;
        width: 100%;
    }
    table.tableSection thead, table.tableSection tbody {
        float: left;
        width: 100%;
    }
    table.tableSection tbody {
        overflow: auto;
        height: 129px;
    }
    table.tableSection tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.tableSection th, table.tableSection td {
        width: 33%;
    }
	table {
    border-collapse: collapse;
}
td {
    border: 1px solid #ccc;
}
#deleteRowBtn{
border-radius:20px;
background-color:#FF5C5C
;

}